<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>

<body>

    <hr> {% if victim.user %} User: {{victim}} {% else %} IP:{{victim.ip}} {% endif %}


    <br> Date of Crime:{{victim.date_crime}}
    <br>Incident Place:{{victim.incident_place}}
    <br>Reason for Delay Reporting:{{victim.reason_for_delay_reporting}}
    <br> Additional Information:{{victim.additional_information}}<br>
    <hr> {% for scr in screenshots %} <br> Screenshots:<br> <img src="{{scr.screenshots.path}}" alt="" height="100px" width="100px" style="display:inline-block"> {% endfor %}
    <!-- <br> Screenshots:<br> <img src="{{victim.screenshot}}" alt="" height="100px" width="100px"><br> -->

</body>

</html>