{% extends "base.html" %} {% load crispy_forms_tags %} {% block body %}
<div class="container w-50" style="background-color:whitesmoke;">

    {{% if user.is_authenticated %}
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %} {{form|crispy}}
        <div style="margin-left:240px;">
        <button type="submit" name="preview" class="btn btn-primary mt-2 ">Preview</button>
        <button type="submit" name="submit" class="btn btn-primary mt-2 ">Report</button>
        <div>
    </form>
    {% else %} Please login to complain {% endif %} 
    




</div>

{% endblock body %}